{% assign media_url_prefix = site.url | append: "/" | append: page.path | remove: "index.html" | remove: "index.md" %}
{% if page.profile_image %}
    {% assign social_image = media_url_prefix | append: page.profile_image %}
{% else %}
    {% assign social_image = media_url_prefix | append: "profile.jpg" %}
{% endif %}

<title>{{ page.profile_name }}</title>
<meta name="description" content="{{ page.seo_description }}" />

<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="apple-touch-icon" href="{{ social_image }}">
<meta name = "viewport" content = "width = 320, initial-scale = 2.3, user-scalable = no">

<meta property="og:locale" content="en_US" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:site_name" content="{{ site.title }}" />

<meta property="og:title" content="{{ page.profile_name }}" />
<meta property="og:description" content="{{ page.seo_description }}" />

<meta property="og:image" content="{{ social_image }}">
<meta name="twitter:image" content="{{ social_image }}">

<meta name="twitter:title" content="{{ page.profile_name }}">
<meta name="twitter:description" content="{{ page.seo_description }}">
<meta name="twitter:card" content="summary_large_image">